.app {
  background-color: white;
  background-image: url("./ClickInclined.svg");
  background-size: 6rem;
  background-attachment: fixed;
  z-index: -2;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
